<body>
  
    <body style="background-color:darkslategray;color:white;"></body>
    <div>
        <br>Histoire de l’entreprise:<br>

        <p>"Entreprise WYM est crée en 2022 par MSA "</p>

        <div>
        <br><br>   
        <div>
        <br><br>                   
        <div>
            <br>Service:<br>    
    </div>
    <p>"Vous avez besoin de créer rapidement un résumé d’un texte ? Alors cet outil peut vous aider à gagner du temps. Il s’agit d'une application qui analyse un texte ou une page web pour en extraire les idées principales et créer automatiquement un résumé"</p>
   
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwK7kHZY6SaKUDJz_Sk5zEYZPQPYz8WMUtFQ&usqp=CAU">
    <br>
    <br>

    Retour à la page <a style="background-color:Tomato;" href="/">Acceuil</a> 
    <br>
    <br>
</body>
