
<!doctype html>
</html>

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

<div class="container">
    <form action="/Thanks" method="POST">
  
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="Prenom" placeholder="Votre prénom">
  
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="Nom" placeholder="Votre nom de famille">
  
      <label for="objet">Mail</label>
      <input type="text" id="objet" name="Mail" placeholder="Objet du message">
    
  
      <label for="message">Message (optionel)</label>
      <textarea id="message" name="Message" placeholder="Votre message" style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div> 
