<!doctype html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body style="background-color:darkslategray;color:white;">
        
        <h1>
            What's Your Mood ?<br>        
            <br>
            WYM un concept innovant.<br>
        </h1>
        <br>
        Avec WYM soumettez votre texte et notre application se charge de le résumer.<br>
        
        <br>
        <br>

        <form action="/resume">        
            <label for="le_text">Texte </label>
            <input type="text" id="le_text" name="text" placeholder="Saisir ici votre texte">
            <input type="submit" value="Submit">        
        </form>

        <br>
        <br>
        Avec le compte WYM premium, vous aurez accès au service d'analyse de sentiments.
        
        <br>
        <br>
        <img src="../static/images/humeur.jpg"> 
        <br>            
        <br>

        Pour ouvrir un compte WYM premium, c'est ici <a style="background-color:Tomato;" href="/contact">Formulaire</a> 
        <br>
        <br>

        A propos de WYM, <a style="background-color:Tomato;" href="/about">WYM</a>
        <br>
          
    </body>
</html>


